body {
            background:  #FFFFFF;
            color:  #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 12px;
}

 
#container {
            background: #FFFFFF;
            margin: 30px auto;
            width: 100%;
            height: 1000px;
}
 
#header {
            background: #838283;
            height: 200px;
            width: 100%;
            font-size: 20px;

}
 
#navigation {
            background: #a2a2a2;
            width: 100%;
            height: 60px;
}
 
#menu {     
             border: 5px solid #d6e9c6;
            border-radius: 10px;
            background: #dff0d8;
            float: left;
            width: 19%;
            height: 600px;
            font-size: 20px;
}
 
#content {
            background: #d2d0d2;
            float: right;
 
            width: 80%;
            height: 600px;
}
#button_html_js{
      background: #00BFFF;
      width: 100px;
}
 
#clear {
            clear:both;
}
#footer {
            background: #838283;
            height: 180px;
            width: 100%;
}

#button {
      background: #00BFFF;
      width: 70px;
      height: 40px;
}
.menu li {
  display: inline-block;
  margin: 0;
}

.menu > li a {
  display: inline-block;
  margin: 0 2px;
  outline: none;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
}

.menu > li:hover a {
  text-decoration: none;
  background: #007ead;
}